<h2>Passengers</h2>

<%=button_to "Add New Passenger", new_passenger_path, method: :get%>

<table>
  <tr>
    <th>
      Passenger ID
    </th>
    <th>Passenger</th>
  </tr>
<% @passengers.each do |passenger| %>
  <tr>
    <td>
      <%= passenger.id %>
    </td>
    <td>
    <%= link_to(passenger.name, passenger_path(passenger.id)) %>
    </td>
  </tr>
<% end %>
</table>
